body {
  margin: 30;
  font-family: 'tahoma';
  background-color: #121212; /* fondo oscuro */
  color: #f4f4f4; /* texto claro */
  line-height: 1.6;
}


.tienda-header {
  background: #1a1a1a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  background: #2c2c2c;
  padding: 80px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  color: #f0f0f0;
  max-width: 600px;
  width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #00bfff;
  font-family: 'Segoe UI', sans-serif;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
  background: #1f1f1f;
  color: #fff;
}

input:focus, textarea:focus {
  outline: 2px solid #00bfff;
}

.btn-enviar {
  display: block;
  width: 100%;
  padding: 12px;
  background: #00bfff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #1a1a1a;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-enviar:hover {
  background: #0099cc;
}

/* Mensaje emergente */
.mensaje-exito {
  display: none;
  margin-top: 20px;
  padding: 15px;
  background: #00bfff;
  color: #1a1a1a;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.mensaje-exito.visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

img {
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 191, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    margin-top:15px;
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 191, 255, 0.6);
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #999;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  overflow: visible;
}

/* Ícono dentro del botón */
.whatsapp-icon {
  width: 35px;
  height: 35px;
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #64c3fa;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  right: 70px; /* Ubicación a la izquierda del botón */
  bottom: 15px;
  white-space: nowrap;
  transition: opacity 0.3s;
  font-size: 14px;
}

/* Mostrar tooltip al pasar el mouse */
.whatsapp-float:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Efecto hover en el botón */
.whatsapp-float:hover {
  background-color: #20b858;
}
